body { font-family: 'MS PGothic'; background:#FFFFEE; }
.container { width:80%; margin:20px auto; background:white; padding:20px; border:1px solid #ccc; }
a { color:#0000CC; }
.res { border-bottom:1px dotted #aaa; padding:10px 0; }
.fixed-res { background:#FFFFCC; padding:10px; border:1px solid #E0D890; margin-bottom:10px; }
